<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:5rem">
      <h2>Forgot your password?</h2>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="row">
    <div class="col-md-12">
        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:100%;" %>
        </div>

        <div class="actions">
          <div class="btn_holder"><br>
            <%= f.submit "Send me reset password instructions", class:"btn btn_dark" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
