<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5><%= link_to 'Comedy Club', root_path, class:'navbar-brand' %></h5>
        <h6>Actors</h6>
        <h6>Gallery</h6>
        <h6>Locations</h6>
        <h6>Contact us</h6>
      </div><!-- col-md-4 -->

      <div class="col-md-4">
        <h5>Contact us</h5>
        <h6>Contact us</h6>
        <h6>About</h6>
      </div><!-- col-md-4 -->

      <div class="col-md-4">
        <h5>Follows Us</h5>
        <h6>
          <%= link_to "https://twitter.com/?lang=en-gb" do %>
          <%= image_tag 'twitter.png', :size => "42x42", class: "image" %>
          <% end %>
        </h6>
        <h6>
          <%= link_to "https://www.youtube.com/channel/UCEf1BL_OqYKu2-CVuuMoE2Q" do %>
          <%= image_tag 'youtube.png', :size => "40x40", class: "image" %>
          <% end %>
        </h6>
        <h6>
          <%= link_to "https://en-gb.facebook.com" do %>
          <%= image_tag 'facebook.png', :size => "39x39", class: "image" %>
          <% end %>
        </h6>
      </div><!-- col-md-4 -->
    </div><!-- row -->

    <div class="row top-margin bottom-margin">
      <div class="col-lg-6">
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2 bg-dark form-border" type="text" placeholder="Sign up for Newsletter" aria-label="Newsletter">
          <button class="btn btn_highlight my-2 my-sm-0" type="submit">Submit</button>
        </form>
      </div><!-- col-lg-6 -->

      <div class="col-lg-6">
        <div class="form-inline mt-2 mt-md-0 floatr">
          <%= form_tag search_podcasts_path, method: :get do %>
          <%= text_field_tag :search, nil, placeholder: "Search", class: "form-control mr-sm-2 bg-dark form-border" %>
          <%= submit_tag "Search", class: "btn btn_highlight my-2 my-sm-0" %>
          <% end %>
        </div>
      </div><!-- col-lg-6 -->
    </div><!-- row -->
  </div><!-- container -->

  <section class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <span class="floatr" color:"#eeeeee">2019 &copy; Comedy Club</span>
        </div><!-- col-lg-6 -->
      </div><!-- row -->
    </div><!-- container -->
  </section>
</footer>
