<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="missions#index">Comedy Club</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Podcasts', root_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Actors', root_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Locations', root_path, class:'nav-link' %>
      </li>
    </ul>

    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to 'About Us', root_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Careers', root_path, class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Gallery', root_path, class:'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
