<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <%= link_to 'Comedy Club', root_path, class:'navbar-brand' %>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <% unless user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Podcasts', root_path, class:'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Podcasts', root_path, class:'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Create a podcast', new_podcast_path, class:'nav-link' %>
        </li>
      <% end %>
    </ul>

    <ul class="navbar-nav">
      <% unless user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'Create Account', new_user_registration_path, class:'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Careers', root_path, class:'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Sign in', new_user_session_path , class:'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to 'Careers', root_path, class:'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Account Settings', edit_user_registration_path, class:'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
