<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:5rem">
      <div class="btn_holder"><br>
        <h2>Our Comedians.</h2>
      </div><br><br>

      <div class="p-left">
        <p>
          <%= image_tag 'ivanKirkov.jpg', class: "p-left episode_thumbnail" %>
        </p>

        <p>
          Ivan Kirkov is the founder and resident of Comedy Club Sofia. His active career in
          standup comedy started in 2012 when he founded Comedy BG. In 2015 he created the first
          and only comedy club in the country - Comedy Club Sofia.
        </p>
      </div>

      <div class="p-left"><br><br><br>
        <p>
          <%= image_tag 'vasilNodjarov.jpg', class: "p-left episode_thumbnail" %>
        </p>

        <p>
          Vasil Nozharov is a resident of Comedy Club Sofia and one of the best standup comedians in Bulgaria.
          His active career began in 2013. Vassil has over 800 standup comedy shows in his career and numerous awards,
          including Comedian of the Year 2016 and 2017.
        </p>
      </div>

      <div class="p-left"><br><br><br>
        <p>
          <%= image_tag 'filip.jpg', class: "p-left episode_thumbnail" %>
        </p>

        <p>
          Philip of Comedy Club Sofia is one of the best standup comedians in Bulgaria and Resident of Comedy Club Sofia.
          His active career began in the spring and summer of 2016 by Open Mic at Comedy Club Sofia. In October 2018
          he became the youngest winner of the Comedian of the Year Comedy Club Sofia Award.
        </p>
      </div>

      <div class="p-left"><br><br><br>
        <p>
          <%= image_tag 'petya.jpg', class: "p-left episode_thumbnail" %>
        </p>

        <p>
          Petya Kyupova is the first female standup comedian in Bulgaria. She is one of the best standup comedians in the country and a resident of Comedy Club Sofia.
          Her active career started in 2016 at Open Mic at Comedy Club Sofia.
        </p>
      </div>

      <div class="p-left"><br><br><br>
        <p>
          <%= image_tag 'nikolay.jpg', class: "p-left episode_thumbnail" %>
        </p>

        <p>
          Nikolay Bankov is one of the first and best standup comedians in Bulgaria and a resident of Comedy Club Sofia.
          His active career started in 2014 by Open Mic at Comedy BG. In 2018 he becomes Comedian of the Year at Comedy Club Sofia, alongside Philip of Comedy Club.
        </p>
      </div>

      <div class="p-left"><br><br><br>
        <p>
          <%= image_tag 'nikolaos.jpg', class: "p-left episode_thumbnail" %>
        </p>

        <p>
          Nikolaos Tsitridis is a resident of Comedy Club Sofia. His active career began in the spring of 2016 at Open Mic at Comedy Club Sofia.
          Nikolaos has hundreds of shows in his career and has participated in 5 stand up comedy shows in Hall 1 of the National Palace of Culture so far.
        </p>
      </div>

      <div class="p-left"><br><br><br>
        <p>
          <%= image_tag 'hristo.jpg', class: "p-left episode_thumbnail" %>
        </p>

        <p>
          Hristo Radoev is one of the most original standup comedians in Bulgaria and the main comedian of Comedy Club Sofia.
          His career began with Open Mic at Comedy Club Sofia in 2016.
        </p>
      </div>
    </div>
  </div>

</section>
