<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:5rem">
      <div class="btn_holder">
        <h2><%= t('home.contact.title') %></h2>
        <h3><%= t('home.contact.contact_us') %></h3>
      </div>
    </div>
  </div>
  <%= form_tag request_contact_path, method: 'post' do %>
  <div class="row">
    <div class="col-md-12">
      <div class="field"><br>
        <%= label_tag :name %>
        <%= text_field_tag :name, "", style: "width:100%" %>
      </div>

      <div class="field">
        <%= label_tag :email %>
        <%= email_field_tag :email, "", style: "width:100%" %>
      </div>

      <div class="field">
        <%= label_tag :telephone %>
        <%= telephone_field_tag :telephone, "", style: "width:100%" %>
      </div>

      <div class="field">
        <%= label_tag :message %>
        <%= text_area_tag :message, "", style: "width:100%" %>
      </div>

      <div class="actions">
        <div class="btn_holder"><br>
          <%= submit_tag "Send email", class:"btn btn_dark" %>
        </div>
      </div>
        <% end %>
    </div>
  </div>
</section>
