<p>
Hello, could you get in touch with me please?
</p>


<dl>
  <dt>Name:</dt>
  <dd><%= @name %></dd>
  <dt>Email:</dt>
  <dd><%= @email %></dd>
  <dt>Telephone:</dt>
  <dd><%= @telephone %></dd>
</dl>

<p><%= @message %></p>
<p>Thanks, <%= @name %></p>
