<section class="container">
  <div class="row">
    <div class="col-md-12" style="margin-top:5rem">
      <div class="btn_holder">
        <h2><%= t('user.sign_in.title') %></h2>
      </div>
    </div>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="field">
        <%= f.label :username %><br/>
        <%= f.text_field :username, autofocus: true, autocomplete: "username", style: "width:100%", required: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", style: "width:100%", required: true %>
      </div>

      <div class="field">
        <%= f.label :password %><br/>
        <%= f.password_field :password, autocomplete: "current-password", style: "width:100%", required: true %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <div class="btn_holder"><br>
          <%= f.submit "Log in", class:"btn btn_dark" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="btn_holder"><br>
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br/>
  <% end %>
</div>
</section>
