<%= form_with(model: podcast, local: true, html: {multipart: true}) do |form| %>
  <% if podcast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(podcast.errors.count, "error") %> prohibited this podcast from being saved:</h2>

      <ul>
      <% podcast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">

      <div class="field">
        <%= form.label :title %><br>
        <%= form.text_field :title, style: "width:100%" %>
      </div>

      <div class="field">
        <%= form.label :description %><br>
        <%= form.text_area :description, style: "width:100%" %>
      </div>

    </div>
  </div>

  <div class="row" style="margin-top:1rem">
    <div class="col-md-4">
          <div class="field">
            <%= form.label :banner %>
            <%= form.file_field :banner %>
          </div>

          <div class="field">
            <%= form.label :audio %>
            <%= form.file_field :audio %>
          </div>

          <div class="field">
            <%= form.label :video %>
            <%= form.file_field :video %>
          </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12" style="margin-top:1rem">
      <%= form.submit 'Create Podcast', class:"btn btn_dark" %>
    </div>
  </div>
  <% end %>
