<div class="btn_holder" style="margin-top:5rem">
  <h2><%= t('podcasts.search.title') %></h2><br><br>
</div>

<div id="podcasts-show" class="cf">
  <div class="wrapper">
    <ul class="cf">
      <!-- Podcasts count. -->
      <% c = 0 %>
        <% @podcasts.each do |podcast| %>
          <li>
            <% if podcast.banner.present? %>
              <%= image_tag podcast.banner.url(:thumb) %>
            <% else %>
              <%= image_tag "noimage.jpg" %>
            <% end %>
            <div class="overview">
              <h4>
                <%= link_to podcast.title, podcast, class: 'title-text' %>
              </h4>
            </div>
            <li>
              <% c = c + 1 %>
              <% end %>
          </ul>
          <h4>
            <%= c %> podcasts found!
          </h4>
        </div>
      </div><!-- .row -->
