<!DOCTYPE html>
<html>
  <head>
    <title>Comedy Club Podcasts</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'shared/navigation' %>
    </header>

      <% if alert %>
        <div id="notice_wrapper">
            <p class="alert"><%= alert %></p>
          </div>
      <% elsif notice %>
        <div id="notice_wrapper">
            <p class="notice"><%= notice %></p>
        </div>
      <% end %>


    <%= yield %>

    <script>
      $(document).ready(function(){
        setTimeout(function() {
          $('#notice_wrapper').fadeOut("slow", function() {
            $this.remove();
          });
        }, 6500 );
      });
    </script>

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
